@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');

:root {
  --white: white;
  --black: black;
  --gray0: rgba(255, 255, 255, 0.8);
  --gray01: #070211;
  --gray02: rgba(7, 2, 17, 0.6);
  --red: red;

  --font_merriweather: 'Merriweather', serif;
  --font_inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body > .container,
body > footer > .f_container {
  width: 90%;
  margin: auto;
}
::selection {
  background-color: rgb(240, 140, 0);
  color: var(--white);
}

/*  Start header section style============== */

body > .container > header {
  height: 100vh;
  display: flex;
  align-items: center;
}
body > .container > header > div {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../image/bg_img/Banner\ Image.png');
  /* background-position: 100%; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: banner_animet 1.2s ease-out;
}
@keyframes banner_animet {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

body > .container > header > div h4 {
  color: #fff;
  text-align: center;
  width: max-content;
  margin: 0 auto 15px;
  font-family: var(--font_merriweather);
  font-size: 32px;
  font-weight: 400;
  animation: h4_animet 2s ease-in;
}
@keyframes h4_animet {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
body > .container > header > div h1 {
  width: 48%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  font-family: var(--font_merriweather);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  animation: h1_animet 2s ease-in;
}
@keyframes h1_animet {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateY(0);
  }
}
/* =========== Start main section style ============= */

/* Start main Section one style =========== */

body > .container > main > #section_one h1 {
  color: var(--red);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}
body > .container > main > #section_one h4 {
  color: var(--red);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
}
body > .container > main > #section_one h2 {
  color: var(--gray01);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 48px;
  font-weight: 700;
  padding: 8px 0 48px;
}
body > .container > main > #section_one img {
  width: 50%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
body > .container > main > #section_one img:hover {
  transform: scale(1.1);
}
/* Start main section two style============= */

body > .container > main > #section_two {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}
body > .container > main > #section_two > .section_two_container {
  height: 600px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../image/bg_img/event.png');
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 126px;
}

/* Start section two left text style========== */

/* body > .container > main > #section_two > .section_two_container > div {
  width: 50%;
  background-color: antiquewhite;
} */
body > .container > main > #section_two > .section_two_container > .s_t_text {
  width: 70%;
}
body
  > .container
  > main
  > #section_two
  > .section_two_container
  > .s_t_text
  > h1 {
  color: var(--white);
  font-family: var(--font_merriweather);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
body
  > .container
  > main
  > #section_two
  > .section_two_container
  > .s_t_text
  > p {
  color: var(--gray0);
  font-family: var(--font_inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 24px 0 48px;
}
body
  > .container
  > main
  > #section_two
  > .section_two_container
  > .s_t_text
  > button {
  border-radius: 8px;
  color: var(--white);
  background: var(--red);
  padding: 16px 32px;
  align-items: center;
  border: 0;
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
body
  > .container
  > main
  > #section_two
  > .section_two_container
  > .s_t_text
  > button:hover {
  transform: translateX(20px);
}

/* Start section two right image style================ */

body
  > .container
  > main
  > #section_two
  > .section_two_container
  > .s_t_img
  > img {
  width: 100%;
  height: 464.662px;
}

/* Start section three style============== */

body > .container > main > #section_three {
  width: 100%;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > .container > main > #section_three > p {
  color: var(--gray01);
  font-family: var(--font_inter);
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
body > .container > main > #section_three > p > span {
  color: var(--red);
}
body > .container > main > #section_three > button {
  padding: 16px 32px;
  border-radius: 8px;
  background: var(--red);
  color: var(--white);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-top: 48px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body > .container > main > #section_three > button:hover {
  transform: scale(1.1);
  background: rgb(122, 4, 4);
}

/* Start main section fore style=============== */

body > .container > main > #section_fore {
  width: 100%;
  height: 463px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0%;
  margin: 120px 0;
}

/* body > .container > main > #section_fore > div {
  background-color: antiquewhite;
} */

/* Section fore left text style=========== */

body > .container > main > #section_fore > .s_f_left_text {
  width: 30%;
}
body > .container > main > #section_fore > .s_f_left_text > h4 {
  color: var(--red);
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
}
body > .container > main > #section_fore > .s_f_left_text > h2 {
  color: var(--gray01);
  font-family: var(--font_merriweather);
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 10px 0 20px;
}
body > .container > main > #section_fore > .s_f_left_text > p {
  color: var(--gray02);
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/* Section fore meddle image style============ */
body > .container > main > #section_fore > .s_f_meddle_img {
  width: 35%;
  text-align: center;
  width: 463px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > .container > main > #section_fore > .s_f_meddle_img > img {
  width: 100%;
  border-radius: 50%;
  padding: 30px;
  border: 15px solid var(--red);
  transition: 0.5s;
}
body > .container > main > #section_fore > .s_f_meddle_img > img:hover {
  /* transform: scale(1.06); */
  animation: abc ease-in-out;
  animation-duration: 2s;
}
@keyframes abc {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
  0% {
    transform: rotate(1.05);
  }
}

/* Section fore right text style =============== */

body > .container > main > #section_fore > .s_f_right_text {
  width: 21%;
}
body > .container > main > #section_fore > .s_f_right_text > h2 {
  color: var(--red);
  font-family: var(--font_inter);
  font-size: 48px;
  font-weight: 700;
}
body > .container > main > #section_fore > .s_f_right_text > p {
  color: var(--gray02);
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding: 10px 0 43px;
}
body > .container > main > #section_fore > .s_f_right_text > img {
  width: 140px;
  height: 140px;
}

/* Start main section five style ============== */

body > .container > main > #section_five > h4 {
  color: var(--gray01);
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
body > .container > main > #section_five > h1 {
  color: var(--gray01);
  font-family: var(--font_merriweather);
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  padding: 10px 0 28px;
}
body > .container > main > #section_five > h1 > span {
  color: var(--red);
}
body > .container > main > #section_five > p {
  color: var(--gray02);
  width: 81%;
  margin: auto;
  text-align: center;
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

/* Start section five image part ============= */

body > .container > main > #section_five > .s_f_img_part {
  height: 600px;
  width: 100%;
  background-image: url('../image/bg_img/1Group\ 79.svg');
  margin: 60px 0 100px;
  border-radius: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Start main section six style =================== */

body > .container > main > #section_six {
  text-align: center;
}
body > .container > main > #section_six > h4 {
  color: var(--red);
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
}
body > .container > main > #section_six > h2 {
  color: var(--gray01);
  font-family: var(--font_merriweather);
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 15px 0 22px;
}
body > .container > main > #section_six > p {
  color: var(--gray02);
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 68%;
  margin: auto;
}

/* section six image part ======== */

body > .container > main > #section_six > div {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template: repeat(2, auto) / auto auto auto;
  margin: 48px 0 120px;
}
body > .container > main > #section_six > div > div > img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 16px;
}
body > .container > main > #section_six > div > div > img:hover {
  transform: scale(1.05);
}

/* Start main section seven style ================ */

body > .container > main > #section_seven {
  width: 100%;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}
body > .container > main > #section_seven > img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 40px;
}
body > .container > main > #section_seven > h2 {
  color: var(--gray01);
  text-align: center;
  font-family: var(--font_merriweather);
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
body > .container > main > #section_seven > p {
  color: var(--gray02);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 68%;
  margin: auto;
  padding: 20px 0 48px;
}
body > .container > main > #section_seven > form {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 50px;
}
body > .container > main > #section_seven > form > input[type='email'] {
  padding: 24px;
  border: none;
  border-radius: 50px 0 0 50px;
  background: var(--white);
  width: 70%;
  color: var(--gray02);
  font-family: var(--font_inter);
  font-size: 18px;
  font-weight: 400;
  outline: none;
}
body > .container > main > #section_seven > form > input[type='submit'] {
  padding: 24px;
  border: none;
  border-radius: 0 50px 50px 0;
  width: 30%;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  font-family: var(--font_inter);
  font-size: 20px;
  font-weight: 600;
  background: var(--red);
  transition: 0.3s;
}
body > .container > main > #section_seven > form > input[type='submit']:hover {
  background: rgb(129, 7, 7);
}
/* Start Footer section style ================ */

body > footer {
  background: var(--gray01);
  margin-top: 120px;
  padding: 120px 0;

  color: wheat;
}
body > footer > .f_container > .f_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > footer > .f_container > .f_top > .f_left > p,
body > footer > .f_container > .f_top > .f_right > p {
  color: var(--white);
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  width: 375px;
}
body > footer > .f_container > .f_top > .f_right > p > i {
  color: var(--red);
}

body > footer > .f_container > hr {
  margin: 50px 0;
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
}
body > footer > .f_container > .f_meddle {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
}
body > footer > .f_container > .f_meddle > img {
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: 0.3s;
}
body > footer > .f_container > .f_meddle > img:hover {
  transform: scale(1.2);
}

body > footer > .f_container > .f_bottom {
  display: flex;
  justify-content: space-between;
}
body > footer > .f_container > .f_bottom > p {
  color: var(--white);
  font-family: var(--font_inter);
  font-size: 24px;
  font-weight: 500;
}

/* Responsive media Style =============== */
@media (min-width: 1600px) {
  body > .container,
  body > footer > .f_container {
    transform: scale(1.05);
  }
}

@media (min-width: 1250px) {
  body > .container,
  body > footer > .f_container {
    min-width: 90%;
    max-width: 1320px;
    margin: auto;
  }
}
